{#
/**
 * @file
 * Default theme implementation for question form.
 *
 * By default this does not alter the appearance of a form at all,
 * but is provided as a convenience for themers.
 *
 * Available variables:
 * - form: The confirm form.
 *
 * @ingroup themeable
 */
#}
{{ form }}
